.recent {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;

    margin-top: 70px;
    background: #EDF7FA;

    &__hs {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-left: -90px;
    }

    &__h2 {
        font-family: SemiBold, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 60px;
        text-align: left;

        margin-top: 7px;
        margin-left: 90px;
        color: #21243D;
        // margin-left: 148px;
    }

    &__h3 {
        font-family: SemiBold, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.5px;
        text-align: right;

        margin-top: 27px;
        color: rgba(0, 168, 204, 1);

    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__card {
        width: 418px;
        height: 295px;
        top: 664px;
        left: 148px;
        gap: 0px;
        opacity: 0px;

        background-color: #fff;
        margin-bottom: 32px;
    }

    &__h1 {
        font-family: SemiBold, sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 38.19px;
        text-align: left;
        
        color: #21243D;
        margin-left: 23px;
    }

    &__sana {
        width: 250px;
        display: flex;
        justify-content: space-between;

        margin-left: 23px;
    }

    &__p2 {
        font-family: Light, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.5px;
        text-align: left;

        margin-top: 11px;
        margin-left: 23px;
    }

//   @media only screen and (max-width: 1160px) {
//     &__hs {
//         width: 1100px;
//         margin-left: -50px;
//     }
//   }

//   @media only screen and (max-width: 1090px) {
//     &__hs {
//         width: 1050px;
//         margin-left: -80px;
//     }
//   }

//   @media only screen and (max-width: 1000px) {
//     &__hs {
//         width: 1000px;
//         margin-left: -80px;
//     }
//   }

    @media only screen and (max-width: 910px) {
        &__card {
            width: 380px;
        }
    }
    
    @media only screen and (max-width: 825px) {
        &__card {
            width: 350px;
            height: 270px;
        }

        &__h1 {
            font-size: 24px;
        }
    
        &__sana {
            width: 250px;
        }
    
        &__p2 {
            font-size: 14px;
        }

    }

    @media only screen and (max-width: 825px){
        &__card {
            width: 470px;
            top: 664px;
            left: 148px;
            gap: 0px;
            opacity: 0px;
    
            background-color: #fff;
            margin-bottom: 32px;
        }
    
        &__h1 {
            font-family: SemiBold, sans-serif;
            font-size: 26px;
            font-weight: 700;
            line-height: 38.19px;
            text-align: left;
            
            color: #21243D;
            margin-left: 23px;
        }
    
        &__sana {
            width: 250px;
            display: flex;
            justify-content: space-between;
    
            margin-left: 23px;
        }
    
        &__p2 {
            font-family: Light, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 23.5px;
            text-align: left;
    
            margin-top: 11px;
            margin-left: 23px;
        }
    }

}